body {
    margin: 0;
}

main {
    margin: 16px;
}

.nav {
    display: flex !important;
    align-items: center;
    width: 100%;
    background: #00bfff;
    color: white;
    font-family: Helvetica;
    font-weight: 300;
}

.navbar__title {
    margin-right: auto;
    font-size: 150%;
    padding: 12px 16px;
}

.navbar__item {
    padding: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
}

.btn {
    border: none;
    color: white;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }
  
a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}

nav {    
    display: block;
    text-align: center;
  }
  nav ul {
    margin: 0;
    padding:0;
    list-style: none;
  }

  li{
    list-style: none;
  }
  .nav a {
    display:block; 
    background: #00bfff; 
    color: #fff; 
    text-decoration: none !important;
    padding: 0.8em 1.8em;
    text-transform: uppercase;
    font-size: 80%;
    letter-spacing: 2px;
    position: relative;
  }

  .nav li {
    position: relative;
  }
  .nav > li { 
    float: left; 
    border-bottom: 4px #00bfff solid; 
    margin-right: 1px; 
  } 
  .nav > li > a { 
    margin-bottom: 1px;
    
  }
  .nav > li:hover, 
  .nav > li:hover > a { 
    border-bottom-color: #00bfff;
  }
  .nav li:hover > a { 
    color:black; 
  }
  .nav > li:first-child { 
    border-radius: 4px 0 0 4px;
  } 
  .nav > li:first-child > a { 
    border-radius: 4px 0 0 0;
  }
  .nav > li:last-child { 
    border-radius: 0 0 4px 0; 
    margin-right: 0;
  } 
  .nav > li:last-child > a { 
    border-radius: 0 4px 0 0;
  }
  .nav li li a { 
    margin-top: 1px;
  }

  .nav li a:first-child:nth-last-child(2):before { 
    content: ""; 
    position: absolute; 
    height: 0; 
    width: 0; 
    border: 5px solid transparent; 
    top: 50% ;
    right:5px;  
   }

   .nav ul {
    position: absolute;
    white-space: nowrap;
    z-index: 1;
    left: -99999em;
  }
  .nav > li:hover > ul {
    left: auto;
    margin-top: 5px;
    min-width: 100%;
  }
  .nav > li li:hover > ul { 
    left: 100%;
    margin-left: 1px;
    top: -1px;
  }
  /* arrow hover styling */
  .nav > li > a:first-child:nth-last-child(2):before { 
    border-top-color: black; 
  }
  .nav > li:hover > a:first-child:nth-last-child(2):before {
    border: 5px solid transparent; 
    border-bottom-color: black; 
    margin-top:-5px
  }
  .nav li li > a:first-child:nth-last-child(2):before {  
    border-left-color: #aaa; 
    margin-top: -5px
  }
  .nav li li:hover > a:first-child:nth-last-child(2):before {
    border: 5px solid transparent; 
    border-right-color: black;
    right: 10px; 
  }